* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    /* ?min-height so that the height doesn't stop at the content, rather stops at the height of the viewport (can also use 100%)*/
    min-height: 100vh;
}

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&display=swap");

:root {
    /* purple */
    --purple-100: hsl(254, 88%, 90%);
    --purple-500: hsl(256, 67%, 59%);

    /* yellow */
    --yellow-100: hsl(33, 96%, 89%);
    --yellow-500: hsl(39, 100%, 71%);

    /* black */
    --black: hsl(0, 0%, 7%);

    /* font-sizes */
    --p-font-size: 18px;

    /* font-weight */
    --extra-light: 200;
    --regular: 400;
    --medium: 450;

    /* size and spacing variables */
    --spacing-4: 4px;
    --spacing-8: 8px;
    --spacing-12: 12px;
    --spacing-16: 16px;
    --spacing-20: 20px;
    --spacing-24: 24px;
    --spacing-28: 28px;
    --spacing-32: 32px;
    --spacing-36: 36px;
    --spacing-40: 40px;
    --spacing-44: 44px;
    --spacing-48: 48px;
    --spacing-52: 52px;
    --spacing-60: 60px;
    --spacing-80: 80px;
    --spacing-100: 100px;
    --spacing-120: 120px;
    --spacing-160: 160px;
    --spacing-200: 200px;

    /* font sizes: */
    /* ?multiply each size by 4 to get the size in pixels and divide by 4 to get the size in rem */
    --font-size-1: 0.25rem; /* 4px */
    --font-size-2: 0.5rem; /* 8px */
    --font-size-3: 0.75rem; /* 12px */
    --font-size-4: 1rem; /* 16px */
    --font-size-5: 1.25rem; /* 20px */
    --font-size-6: 1.5rem; /* 24px */
    --font-size-7: 1.75rem; /* 28px */
    --font-size-8: 2rem; /* 32px */
    --font-size-9: 2.25rem; /* 36px */
    --font-size-10: 2.5rem; /* 40px */
    --font-size-11: 2.75rem; /* 44px */
    --font-size-12: 3rem; /* 48px */
    --font-size-13: 3.25rem; /* 52px */
    --font-size-14: 3.5rem; /* 56px */
    --font-size-15: 3.75rem; /* 60px */
    --font-size-16: 4rem; /* 64px */
    --font-size-17: 4.25rem; /* 68px */
    --font-size-18: 4.5rem; /* 72px */
    --font-size-19: 4.75rem; /* 76px */
    --font-size-20: 5rem; /* 80px */
    --font-size-21: 5.25rem; /* 84px */
    --font-size-22: 5.5rem; /* 88px */
    --font-size-23: 5.75rem; /* 92px */
    --font-size-24: 6rem; /* 96px */
    --font-size-25: 6.25rem; /* 100px */
}

/* dm-sans-latin-wght-normal */
@font-face {
    font-family: "DM Sans Variable";
    font-style: normal;
    font-display: swap;
    font-weight: 100 1000;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/dm-sans:vf@latest/latin-wght-normal.woff2)
        format("woff2-variations");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    display: grid;
    padding: 0 10%;
    place-items: center;
    font-family: "DM Sans Variable";
    line-height: 1.05;
    background-color: #e7e7e7;
}

/* making the body's padding smaller at 1200px because it's too big */
@media (max-width: 1200px) {
    body {
        padding: 16px 48px;
    }
}

#main-cont {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    /*? the subtraction is to give space for the gap so that the container isn't overflowed */
    grid-template-rows: calc(40% - 28px) calc(10% - 28px) calc(20% - 28px) 30%; /* row1 row2 row3 row4*/

    grid-template-areas:
        "area1 area2 area2 area3"
        "area1 area4 area5 area3"
        "area6 area4 area5 area3"
        "area6 area7 area8 area8";
    gap: var(--spacing-28);
    width: min(100%, 1150px);

    /*?restricting the height to a 100% of the body (parent elem). Else the content will cause this cont to overflow */

    /* 920px because the content inside has been designed for 920px */
    height: min(100%, 920px);
}

/* !global styles */

.grid-item {
    display: grid;
    border-radius: 16px;

    /* using this to align the content vertically in the middle of their individual cells */
    align-items: center;
}

/* *components styles */

h2:not(.faster-audience-growth > h2) {
    font-weight: var(--medium);
    letter-spacing: -2px;
}

p {
    font-size: clamp(1rem, 0.446vw + 0.723rem, 1.125rem);
}

img {
    object-fit: contain; /*preserves the aspect ratio and size of an image and resizes it to fit it's container*/
    height: auto;
}

.create-post,
.social-media-faster,
.write-using-ai {
    padding: 10%;
}

.manage-multiple-accounts,
.maintain-consistent-schedule,
.faster-audience-growth {
    padding: 8%;
}

/*!  desktop - grid-area: 1 | mobile - grid-order: 7  */

.create-post {
    grid-area: area1;

    /* using this to align all the cells in the middle of the container vertically, not just the content in their individual cells */
    align-content: center;
    background-color: var(--yellow-100);
}
.create-post > h2 {
    font-size: clamp(2rem, 1.786vw + 0.893rem, 2.5rem);
}

.create-post > h2 > i {
    color: var(--purple-500);
}

.create-post > img {
    width: min(100%, 300px);
    object-position: center top;
    margin-top: var(--spacing-20);
}

/*!  desktop - grid-area: 2 | mobile - grid-order: 1  */

.social-media-faster {
    text-align: center;
    grid-area: area2;
    background-color: var(--purple-500);
    color: white;
}

.social-media-faster > h2 {
    /*  vw >= 992px <= 1440 */
    font-size: clamp(2.75rem, 2.679vw + 1.089rem, 3.5rem);
}

.social-media-faster > h2 > span {
    color: var(--yellow-500);
}

.social-media-faster > img {
    justify-self: center;
    width: min(78.4%, var(--spacing-200));
    margin-top: var(--spacing-12);
}

.social-media-faster > p {
    font-size: clamp(1rem, 0.357vw + 0.929rem, 1.25rem);
    margin-top: var(--spacing-8);
    font-weight: var(--extra-light);
}

/*!  desktop - grid-area: 3 | mobile - grid-order: 4 */

.schedule-to-social-media {
    grid-area: area3;
    background-color: var(--purple-100);
    padding: 16% 10%;
    overflow: hidden;
}

.schedule-to-social-media > h2 {
    font-size: clamp(1.75rem, 0.893vw + 1.196rem, 2rem);
}

.schedule-to-social-media > img {
    margin-top: 16px;
    width: 180%;
}

@media (max-width: 1300px) {
    .schedule-to-social-media > img {
        margin-top: 0;
    }
}

.schedule-to-social-media > p {
    /* increasing the font size between 992px and 1440px */
    font-size: clamp(0.938rem, 1.116vw + 0.246rem, 1.25rem);
    /* ?using translate because the usual "margin-top" will push the image above this p elem, upwards  */
    translate: 0 20%;
}

@media (max-width: 1100px) {
    .schedule-to-social-media > img {
        translate: 0 -8%;
    }

    .schedule-to-social-media > p {
        /* ?using translate because the usual "margin-top" will push the image above this p elem, upwards  */
        translate: 0 -60%;
    }
}

/*!  desktop - grid-area: 4 | mobile - grid-order: 2  */

.manage-multiple-accounts {
    padding-left: 11%;
    grid-area: area4;
    overflow: hidden;
    background-color: white;
}

.manage-multiple-accounts > img {
    margin-top: -12px;
    width: 100%;
    height: var(--spacing-60);
    transform-origin: left top;
    scale: 1.5;
}

.manage-multiple-accounts > h2 {
    margin-top: var(--spacing-32);

    /* <= 992px vw <= 1440px */
    font-size: clamp(1.75rem, 0.891vw + 1.198rem, 2rem);
}

/*!  desktop - grid-area: 5 | mobile - grid-order: 3  */

.maintain-consistent-schedule {
    background-color: var(--yellow-500);
    overflow: hidden;
    grid-area: area5;
}

.maintain-consistent-schedule > h2 {
    margin-top: -4px;
    font-size: clamp(1.625rem, 0.536vw + 1.518rem, 2rem);
}

.maintain-consistent-schedule > img {
    width: 100%;
    translate: 0 8px;
}

/*!  desktop - grid-area: 6 | mobile - grid-order: 8  */

.write-using-ai {
    background-color: var(--yellow-500);
    grid-area: area6;
}

.write-using-ai > h2 {
    font-size: clamp(2.25rem, 0.893vw + 1.696rem, 2.5rem);
}

.write-using-ai > img {
    align-self: end;
    object-position: left bottom;
    width: 100%;
}

/*!  desktop - grid-area: 7 | mobile - grid-order: 6  */

.faster-audience-growth {
    background-color: white;
    grid-area: area7;
}

.faster-audience-growth > p {
    font-weight: var(--medium);
    font-size: clamp(3.25rem, 2.679vw + 1.589rem, 4rem);
}

.faster-audience-growth > h2 {
    font-size: var(--font-size-5);
    font-weight: var(--regular);
}

.faster-audience-growth > img {
    width: min(80%, 160px);
}

/*!  desktop - grid-area: 8 | mobile - grid-order: 5  */

.grow-followers {
    display: flex;
    padding: 5%;
    background-color: var(--purple-500);
    grid-area: area8;
}

.grow-followers > img {
    width: 100%;
    height: 100%;
    object-position: left center;
}

.grow-followers > h2 {
    color: white;
    font-size: clamp(2rem, 1.786vw + 0.893rem, 2.5rem);
    margin-left: 12px;
}

.attribution {
    display: none;
}

@media (max-width: 991px) {
    /* @!global styles */
    body {
        padding: var(--spacing-20);
    }

    #main-cont {
        grid-template-columns: 1fr;
        /* ?auto means that the height is determined by the content */
        grid-template-rows: repeat(8, auto);
        grid-template-areas: none;

        /* overriding the min-height of 920px on desktop mode */
        height: 100%;
    }

    .schedule-to-social-media {
        padding: min(8%, 48px) 5%;
    }

    .manage-multiple-accounts,
    .maintain-consistent-schedule,
    .faster-audience-growth {
        padding: 4% 5%;
    }

    .grid-item {
        grid-area: unset;
    }

    /* @!specific styles */

    /*!  desktop - grid-area: 1 | mobile - grid-order: 7  */
    .create-post {
        order: 7;
        padding: min(8%, 40px);
    }

    .create-post > h2 {
        font-size: clamp(1.75rem, 3.069vw + 0.599rem, 2.5rem);
    }

    .create-post > img {
        width: min(60%, 240px);
        margin-top: var(--spacing-28);
    }

    /*!  desktop - grid-area: 2 | mobile - grid-order: 1  */

    .social-media-faster {
        order: 1;
    }

    /* increasing the heading font size when the vw is between 375px and 991px */
    @media (min-width: 375px) {
        .social-media-faster > h2 {
            font-size: clamp(2.75rem, 1.297vw + 2.446rem, 3.25rem);
        }
    }

    /*!  desktop - grid-area: 3 | mobile - grid-order: 4 */
    .schedule-to-social-media {
        order: 4;
    }

    .schedule-to-social-media > h2 {
        font-size: clamp(1.625rem, 2.086vw + 1.208rem, 2.5rem);
    }

    .schedule-to-social-media > img {
        width: min(100%, 600px);
        translate: unset;
        margin-top: var(--spacing-20);
    }

    .schedule-to-social-media > p {
        font-size: clamp(1rem, 1.192vw + 0.762rem, 1.5rem);
        padding-right: unset;
        padding: 0 5%;
        margin-top: var(--spacing-20);
        translate: unset;
    }

    /*!  desktop - grid-area: 4 | mobile - grid-order: 2  */
    .manage-multiple-accounts {
        order: 2;
    }

    .manage-multiple-accounts > img {
        object-position: top left;
        scale: none;
        height: unset; /*unset from 60px*/
    }

    .manage-multiple-accounts > h2 {
        margin-top: var(--spacing-20);
        font-size: var(--spacing-28);
    }

    /*!  desktop - grid-area: 5 | mobile - grid-order: 3  */

    .maintain-consistent-schedule {
        order: 3;
        height: 220px;
    }

    .maintain-consistent-schedule > h2 {
        /* <= 320px vw <= 991px */
        font-size: var(--font-size-7);
    }

    .maintain-consistent-schedule > img {
        width: min(100%, 195px);
        max-height: 180px;
        translate: 0 var(--spacing-24);
    }

    /*!  desktop - grid-area: 6 | mobile - grid-order: 8  */

    .write-using-ai {
        order: 8;
        padding: min(8%, 40px);
    }

    .write-using-ai > h2 {
        font-size: clamp(2rem, 1.299vw + 1.696rem, 2.5rem);
    }

    .write-using-ai > img {
        width: min(70%, 300px);
        margin-top: var(--spacing-24);
    }

    /*!  desktop - grid-area: 7 | mobile - grid-order: 6  */
    .faster-audience-growth {
        order: 6;
    }

    .faster-audience-growth > p {
        font-size: clamp(3rem, 2.597vw + 2.391rem, 4rem);
    }

    .faster-audience-growth > h2 {
        margin-top: var(--spacing-8);
        font-size: var(--font-size-4);
    }

    .faster-audience-growth > img {
        margin-top: var(--spacing-20);
        width: min(100%, 160px);
    }

    .grow-followers {
        flex-direction: column;
        justify-content: center;
        order: 5;
    }

    /*!  desktop - grid-area: 8 | mobile - grid-order: 5  */

    .grow-followers > img {
        width: min(75%, 380px);
    }

    .grow-followers > h2 {
        margin-left: 0;
        margin-top: var(--spacing-20);
        font-size: var(--spacing-36);
        text-align: center;
    }

    #main-cont > .grow-followers > h2 {
        letter-spacing: -1px;
    }

    /* reducing the heading font size when the vw is between 320px and 374px */
    @media (max-width: 374px) {
        .social-media-faster > h2 {
            font-size: var(--font-size-8);
        }

        .grow-followers > h2 {
            font-size: var(--font-size-8);
        }
    }

    @media (min-width: 600px) {
        .grid-item {
            justify-items: center;
            text-align: center;
        }

        .create-post > img {
            width: 250px;
            margin-top: var(--spacing-40);
        }

        /* order: 2 */
        .social-media-faster > img,
        .social-media-faster > p {
            margin-top: var(--spacing-20);
        }

        /* order: 4 */

        .schedule-to-social-media > img,
        .schedule-to-social-media > p {
            margin-top: var(--spacing-32);
        }

        .schedule-to-social-media > p {
            padding: 0 13%;
        }

        .manage-multiple-accounts > img {
            width: min(75%, 450px);
        }

        .manage-multiple-accounts > h2 {
            margin-top: 32px;

            /* <= 600px vw <= 991px */
            font-size: clamp(1.75rem, 3.069vw + 0.599rem, 2.5rem);
        }

        .maintain-consistent-schedule > h2 {
            font-size: clamp(1.75rem, 3.069vw + 0.599rem, 2.5rem);
        }

        .maintain-consistent-schedule > img {
            width: 240px;
            /* <= 600px vw <= 991px */
        }

        .write-using-ai > img {
            margin-top: var(--spacing-36);
        }

        .faster-audience-growth > h2 {
            margin-top: var(--spacing-32);
            font-size: var(--font-size-6);
        }

        .faster-audience-growth > img {
            margin-top: var(--spacing-40);
            width: min(100%, 260px);
        }
    }
}
